* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
}

.main {
    width: 100%;
}

.header {
    width: 50%;
    margin: 0 auto;
}

.nav {
    margin-bottom: 18.6rem;
}

.nav__list {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #989696;
    padding: 0;
}

.nav__item {
    font-size: 0.81rem;
    width: 100%;
    padding: 1.4rem 1.4rem;
    text-align: center;
    transition-duration: 1s;
}

ul > li > a {
    text-decoration: none;
    color: #989696;
}

.nav__link {
    transition-duration: 0.3s;
    border-bottom: 1px solid transparent;
}

.nav__link:hover {
border-bottom: 1px solid #989696;
}

.nav__link_center {
    text-decoration: none;
    color: white;
}

.nav__item_bg {
    min-width: 55px;
    max-width: 55px;
    height: 55px;
    background-color: black;
    font-size: 33px;
    font-weight: 500;
    color: white;
    padding: 10px 15px 10px;
}

.section__head {
    width: 100%;
    text-align: center;
    margin-bottom: 283px;
}

.head__title {
    font-size: 2.75rem;
    color: #1D1E1F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.head__text {
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    color: #898888;
    margin-bottom: 42px;
}

.head__btn {
    width: 189px;
    height: 58px;
    background-color: transparent;
    color:black;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    outline: none;
    transition-duration: 0.2s;
    padding: 0;
}

.head__btn:hover {
    color: white;
    background-color: black;
    opacity: 0.4;
    border: 1px solid white;
    cursor: pointer;
}

.list__circle {
    width: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 92px;
}

.item__circle {
    width: 11px;
    height: 11px;
    border: 1px solid white;
    border-radius: 50%;
    background-color:#D0D0D0;
}

.item__circle-margin {
    margin: 11px 0;
    opacity: 0.6588235294117647;
}

.item__circle-opacity {
    opacity: 0.32941176470588235;
}

.body {
    width: 100%;
    background-color: #1D1D1D;
    border: 1px solid white;
    margin-bottom: 10rem;
}

.body__section {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;

}

.body__section_left {
    width: 50%;
    border-right: 3px solid #ffffff;
    padding-bottom: 29.6rem;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.body__section-years {
    width: 50%;
    padding-top: 150px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
}

.body__section__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: #FEFEFE;
    text-align: right;
    margin-bottom: 23px;
}

.body__section__text {
    font-family: 'Montserrat', sans-serif;
    color: #B7B7B7;
    padding-left: 75px;
}

.body__section__text-mr-b {
    margin-bottom: 255px;
}

.body__section_right {
    width: 50%;
    padding-bottom: 29.6rem;
    border-left: 3px solid white;
}

.body__section__title-right {
    position: relative;
    text-align: left;
    padding-left: 80px;
    padding-top: 121px;
}

.body__section__title_2013::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: #1D1D1D;
    right: -1.5rem;
    top: 34.7rem;
}

.body__section__title_left_2011::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: #1D1D1D;
    right: -1rem;
    top: 10rem;
}

.body__section__title-right-2012::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: #1D1D1D;
    left: -1rem;
    top: 8.4rem;
}

.body__section__title-right_2014::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: #1D1D1D;
    left: -1rem;
    top: 8.5rem;
}

.footer_bg {
    position: relative;
    width: 100%;
}

.footer-img {
    width: 100%;
    height: 14.5rem;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -210px;
    z-index: 2;
}

.footer-img_black {
    position: absolute;
    width: 100%;
    height: 14.5rem;
    background-image: url(images/bg-black.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
    top: -238px;
}

.wrapper {
    width: 100%;
    background-color: white;
}

.wrapper-width {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 150px;
}

.wrapper-head {
    width: 100%;
    margin: 0 auto 214px;
    text-align: center;
}

.wrapper__title {
    font-size: 2.125rem;
    font-family: 'Montserrat', sans-serif;
    color: #1D1E1F;
    margin-bottom: 2.4rem;
}

.wrapper__text {
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    color: #898888;
}

.team-body {
    width: 100%;
}

.team {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
    text-align: center;
}

.team-contact {
    display: flex;
    flex-direction: column;
}

.team__photo {
    width: 169px;
    height: 169px;
    background-image: url(images/Mark.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.team-contact_mragin-l {
    margin-left: -22px;
}

.team-contact_mr-t {
    margin-top: -124px;
}

.team__photo_j {
    background-image: url(images/Justin.png);
}

.team__photo_a {
    background-image: url(images/Anton.png);
}

.team-contact__name {
    font-size: 1.3rem;
    columns: #464646;
    margin-bottom: 7px;
}

.team-contact__text {
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.wrapper_black {
    width: 100%;
    background-color: #1D1D1D;
    position: relative;
}

.wrapper_black::before {
    content: "";
    position: absolute;
    border-bottom: 20vh solid #1D1D1D; 
    border-left: 100vw solid transparent;	
    top: -177px;
    left: -17px;
}

.services {
    width: 60%;
    margin: 0 auto;
    padding-top: 10rem;
    background-image: url(images/post-bg.png);
    /* opacity: 0.43137254901960786; */
    background-repeat: no-repeat;
    background-position: bottom;
    background-clip: content-box;
    background-size: 80%;
}

.services-head {
    text-align: center;
    margin-bottom: 217px;
}

.services-head__title {
    color: #FFFFFF;
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 5px;
}

.services-head__text {
    color: #777777;
    font-family: 'Merriweather', serif;
}

.block__img {
    width: 173px;
    height: 173px;
    border: 3px solid white;
    border-radius: 50%;
    background-image: url(images/LINE.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 43px;
}

.block__img_heard {
    background-image: url(images/HEART.png);
}

.block_mr-l-r {
    margin: 0 70px 0;
}

.block__img_cloud {
    background-image: url(images/CLOUD.png);
}

.services-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 476px;
}

.block {
    width: calc(100%/3);
}

.block__subtitle {
    color: white;
    font-size: 1.625rem;
    font-weight: 300;
    margin-bottom: 31px;
}

.block__text {
    color: #383838;
    font-size: 1.1rem;
}

.services__btn {
    text-align: center;
    padding-bottom: 295px;

}

.btn {
    width: 218px;
    height: 65px;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition-duration: 0.2s;
}

.btn:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
    opacity: 0.4;
}

.contac {
    width: 100%;
    margin-top: 95px;
    position: relative;
    text-align: center;
}

.contact__header {
    text-align: center;
}

.contact__header::before {
    content: "";
    position: absolute;
    border-bottom: 20vh solid white; 
    border-left: 100vw solid transparent;	
    top: -271px;
    left: -17px;
}

.conact__title {
    color: #1D1E1F;
    font-size: 2.125rem;
    font-weight: 400;
    margin-bottom: 13px;
}

.contact__text {
    color: #898888;
    font-family: 'Merriweather', serif;
    margin-bottom: 63px;
}

.contact-info {
    width: 60%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 150px;
    justify-content: space-between;
}

.svg-footer {
    width: 30%;
    font-size: 0.8rem;
    color: #898888;
}

.svg-footer > p {
    margin-top: 15px;
}

.footer-form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footer-form > input, textarea {
    text-align: center;
    color: #898888;
    padding: 20px;
    margin-bottom: 20px;
}

.footer-form > input, textarea:focus {
    color: black;
    font-weight: 500;
}

textarea:focus {
color: black;
font-weight: 500;
}

.footer-btn {
    background-color: #161616;
    color: #FEFEFE;
    font-weight: 500;
    padding: 20px;
    border: none;
    margin-bottom: 155px;
    cursor: pointer;
    transition-duration: 0.3s;
    border: 1px solid transparent;
}

.footer-btn:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    outline: none;
}

.footer__text {
    font-size: 0.8rem;
    font-weight: 500;
    color: #3B3B3B;
    margin-bottom: 40px;
}

@media all and (max-width: 1525px) {
    .nav__list > li {
        padding: 1.4rem 0.6rem;
    }

    .nav__item_bg {
        text-align: center;
    }

    .nav__item_bg {
        min-width: 55px;
        min-height: 55px;
    }
}

@media all and (max-width: 1220px) {
    .nav__list > li {
        padding: 1.4rem 0;
    }

    .team {
        flex-wrap: wrap;
        justify-content: space-around;
        flex: 1;
    }

    .team-contact {
        min-width: 250px;
    }

    .team-contact_mragin-l {
        margin-top: -126px;
    }

    .services-block {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .block_mr-l-r {
        margin-right: 0;
    }
}

@media all and (max-width: 1000px) {
    .nav__list > li {
        padding: 1.4rem 0;
        font-size: 0.7rem;
    }

    .section__head {
        margin-bottom: 50px;
    }

    .wrapper-head {
        margin-bottom: 60px;
    }

    .team-contact_mragin-l, .team-contact_mr-t {
        margin: 40px 0;
    }

    .body__section_left {
        width: 100%;
        border: none;
        padding-bottom: 5rem;
    }

    .body__section_right {
        width: 100%;
        padding-bottom: 29.6rem;
        border: none;
    }

    .body__section-years {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding-top: 50px;
    }

    .body__section__title-right {
        padding-top: 0;
    }

    .body__section__text-mr-b {
        margin-bottom: 100px;
    }

    .body__section__title {
        margin-right: 75px;
    }

    .body__section__title_left_2011::before {
        content: none;
    }

    .body__section__title_2013::before {
        content: none;
    }

    .body__section__title-right_2012::after {
        content: none;
    }

    .body__section__title-right_2014::after {
        content: none;
    }

    .block_mr-l-r {
        margin: 0;
    }

    .block {
        min-width: 260px;
        padding: 2rem 0 0 0;
        flex: 1;
    }

}

@media all and (max-width: 880px) {

    .nav {
        margin-bottom: 10rem;
    }

    .head__title {
        font-size: 2rem;
    }

    .head__btn {
        width: 160px;
        height: 58px;
    }

    .footer_bg {
        position: fixed;
    }

    .body__section_right {
        padding-bottom: 5rem;
    }

    .services-head {
        margin-bottom: 60px;
    }

    .nav__list {
        flex-wrap: wrap;
    }


    .nav__list > li {
        font-size: 1rem;
    }

    .body__section__text {
        font-family: 'Montserrat', sans-serif;
        color: #B7B7B7;
        padding: 0 20px 0 20px;
    }

    .contact-info {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .contact-info > section > p {
        text-align: center;
    }

    .svg-footer {
        width: 100%;
        margin-bottom: 2rem;
    }

}





